# LaTeX
main.tex

# PDF
biodata.pdf

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production build folder (not the deployed files)
/build

# Source files backup
old_static_site/
old_static_files/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
